SadTalker
env
.venv
results
prompt.txt
*.pyc
*.pyo
*.pyd
__pycache__
*.egg-info
*.egg
*.log
*.json
*.yaml
*.yml
*.zip
*.tar.gz
*.tar
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.zst
*.tar.lzo
*.tar.lzop
*.tar.lz4
*.tar.lzma2
*.tar.lz4c
*.tar.lz4f
*.tar.lz4s
*.tar.lz4x
*.tar.lz4v
*.tar.lz4z
*.tar.lz4a
*.tar.lz4b
*.tar.lz4d
*.tar.lz4e